test/deployment/
test/.classpath
test/.project
test/theme/.sass-cache/
dist/
node_modules/
*.log
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
.npmrc

/* Ignore the widget itself as it contains the subscription */
test/widgets/itvisors.NativeFontAwesomeButton.mpk
