test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/.sass-cache/
dist/
node_modules/
*.log
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
.npmrc
test/widgets/itvisors.NativeFontAwesomeButton.mpk
